/* General Styling*/
* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box; 
}
html {
  height: 100%; 
  width: 100%; 
}
#navbar-brand {
  color: rgba(204,204,204,.85);
  text-decoration: none;
}
/*Jumbtron Start*/
h1.display-2{
  text-shadow: 5px 8px 5px rgba(102, 51, 153,.85);
  color: rgba(255,255,255,.95);
  text-align: center;
  
}
#first { 
	text-shadow: 4px 4px 8px gold;
}
.jumbotron{
  background:
    linear-gradient(rgba(220,20,60,.7), transparent 90%), 
    linear-gradient(0deg, #fff, transparent);
  background-size: cover;

}
.jumbotron#home{
background: 
    linear-gradient(rgba(220,20,60,.7), transparent 90%), 
    linear-gradient(0deg, #fff, transparent), 
    url('../img/bruce lee.jpg') no-repeat center;
background-size: cover;

}
.endJ {
width: 400px;
height: 100px;
}
.card{
border: 2px solid black;
}
.mb-2 {
	color: gold; 
	text-shadow: 2px 2px 2px black;
}
.btn.btn-primary.btn-sm.mainbtn{
border: .5px solid white;
background-color: rgba(220,20,60, .8);
}
.btn.btn-primary{
  border: 1px solid white; 
  background-color: gold;
  color: white; 
}
#about{
	margin-bottom: 25px; 
}
.navbar.navbar-toggleable-md.navbar-light.bg-faded {
background-color: rgb(128,128,128);
}
.btn.btn-outline-info.btn-lg.d-block.mx-auto.my-5{
border: 1px solid rgb(220,20,60);
color: rgba(220,20,60);
}
#image_container{
	overflow: hidden; 
	text-align:center;
	margin-bottom: 75px; 
}
#bioPic {
  transform: scale(.95); 
  height: 30%; 
  border-radius: 10px; 
  margin-top: 0;
  width: 25%; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
	
}

.shadow{
	box-shadow: 5px 5px 10px 3px gray; 
	transition: box-shadow .5s ease-out; 
}
.shadow:hover {
	box-shadow: 10px 10px 15px 5px gray; 
}

.carousel-item .d-block {
margin: 0 auto;
}
#techSkills {
list-style-type: none; 
list-style-position:outside;
padding-left: 2px; 
}

#home h1 {
transform: scale(.75);
}
div[role="tab"]{
	background: rgba(220,20,60, .8);
}
h5>a{
	color: white; 
	text-decoration: none; 
}
h5>a:hover{
	text-shadow: 2px 2px rgba(120, 81, 169, .33); 
	text-decoration: none; 
}
h5>a:focus{
	color: gold; 
	text-decoration: none; 
}
.featuredBlogPost {
	text-align: center; 
	margin-bottom: 100px;
	border: 3px solid black; 
	height: 200px; 
	padding-left: 0;
	padding-right: 0;
}
.fbpContainer {
	position: relative; 
	overflow: hidden; 
	height: 100%; 
	width: 100%;
	margin-right: 0;
	background: linear-gradient(rgba(0,119,181,.5), transparent 90%), 
				linear-gradient(0deg, #fff, transparent),
				url("../img/blogBackground.jpeg") no-repeat center;
	background-size: cover;
}
.card shadow {
	position: relative; 
}
.card shadow a {
	z-index: 2; 
}
.card-main {
	position: inherit; 
}
.card-main img {
	width: 100%; 
	max-height: 180px; 
}
.overlay{
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(0,0,0, .4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0; 
	transition-property: opacity;
	transition-duration: .5s;
}
.overlay p {
	text-align: center; 
	font-weight: bold; 
	font-size: 20px; 
}
.overlay:hover{
	opacity: 1; 
	
}
#blogLink {
	color: rgba(0,119,181,.9);
	background: white;
	width: 110px; 
	height: 30px; 
	margin: auto;
	margin-top: 0;
	margin-bottom: 10px;
	text-decoration: none;
	border-radius: 7%; 
	border: 2px solid rgb(119,136,153);
}
.parts {
	display: inline-block; 
	
}
.fixed-bottom {
	background: rgba(128,128,128,.95);
	
}
@media(max-width: 450px){
	.display-2 {
		font-size: 42px; 
	}
	#bioPic {
		display: block; 
	}
	#statement {
		z-index: 1000; 
	}
}
